<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huapintang.cashregister">

    <uses-feature android:name="android.hardware.usb.host" />
    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.STATUS_BAR_SERVICE" />
    <uses-permission android:name="android.permission.STATUS_BAR" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--bugly-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width"
            android:value="1920" />
        <meta-data
            android:name="design_height"
            android:value="1080" />

        <activity
            android:name=".MainActivity"
            android:label="测试页面" />

        <!-- 开机启动 -->
        <receiver android:name=".receiver.AutoStartReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>

        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".ui.welcome.view.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.huapintang.cashregister" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.login.view.LoginSellActivity" />
        <activity android:name=".ui.main.view.MainHomeActivity" />
        <activity
            android:name=".dialog.SelectDialog.view.CalendarActivity"
            android:launchMode="singleTop"
            android:theme="@style/dialogstyle" />
        <activity
            android:name=".dialog.selectTime.view.SelectTimeDialog"
            android:launchMode="singleTop"
            android:theme="@style/dialogstyle" />
        <activity
            android:name=".dialog.MsgDialog"
            android:launchMode="singleTop"
            android:theme="@style/dialogstyle" />
        <activity
            android:name=".dialog.ScanDialog"
            android:launchMode="singleTop"
          />
        <activity
            android:name=".dialog.MsgPrintDialogActivity"
            android:launchMode="singleTop"
            android:theme="@style/dialogstyle" />
        <activity
            android:name=".dialog.huiyuan.view.HuiYuanLoginDialog"
            android:launchMode="singleTop"
            android:theme="@style/dialogstyle" />
        <activity
            android:name=".dialog.huiyuanpay.view.HuiYuanPayActivity"
            android:launchMode="singleTop"
            android:theme="@style/dialogstyle"></activity>
        <activity
            android:name="com.huapintang.cashregister.dialog.ErrotDialog"
            android:launchMode="singleTop"
            android:theme="@style/dialogstyle"></activity>
    </application>

</manifest>